section {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.table {
    padding: 5px;
    width: 100%;
    overflow-x: auto;

}
  
.search {
      width: 100%;
      max-width: 300px;
}
  
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.4rem;
    margin-top: 40px;
}
  


th {
    border: 1px solid #eee;
}
  
th,
td {
    vertical-align: top;
    text-align: left;
    padding: 8px;
}

.icons {
    margin-right: 5px;
    cursor: pointer;
}
        
  
tr {
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    color: darkgreen;
}
  
tr:nth-child(even) {
    background-color: #eee;
}

h1 {
    color: darkgreen;
    text-align: center;
    font-weight: 300;
}

a {
    font-size: small;
    color: darkgreen;
}


p{
    font-size: small;
    text-align: center;
    margin: 1rem;
    color: darkgreen;

}






button:hover {
    opacity: 90%;
}

link {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}