section {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

h1,
h3 {
    color: darkgreen;
    text-align: center;
    font-weight: 300;
}

.link-fridge {
    font-size: medium;
    text-align: center;
    display: flex;
    justify-content: center;
    color: darkgreen;
    margin-top: 40px;
    /* text-decoration: underline; */
}

.link-fridge:hover{
    font-weight: 500;
}

.title-home{
    color: darkgreen;
    text-align: center;
    font-weight: 300;
    margin-bottom: 10px;
}


.text-home{
    font-size: medium;
    text-align: center;
    /* margin: 1rem; */
    color: darkgreen;

}




